@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');

@font-face {
    font-family: 'MunroSmall';
    src: url('../Fonts/Munro-Small/munro/MunroSmall.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    margin: 0;
}

  
body {
    font-family: "Geologica", sans-serif;
    font-family: "Pixelify Sans", sans-serif;
    font-family: 'MunroSmall', sans-serif;
    font-weight: 500;
    background-color: #222222;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background: #0d0d0d;
    background-image: linear-gradient(#ffffff02 .1em, transparent .1em), linear-gradient(90deg, #ffffff02 .1em, transparent .1em);
    background-size: 4em 4em;
    overflow: hidden;
}

.imgg {
    position: relative;
    width: 100%;
    border-radius: 4px;
}

.ctrlbtnplyr {
    padding: 7px;
    width: 50px;
    margin: 10px;
}

#nmrimgn {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255); 
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.725);
    text-decoration: none;
}

#ttlwb {
    font-size: 60px;
}

.btndd1 {
    text-align: center;
    width: 140px;
    padding: 10px;
    padding-bottom: 15px;
    margin: 10px;
    margin-top: 25px;
    border-radius: 4px;
    outline: none;
    color: white;
    border: none;
    background-color: rgb(0, 0, 0);
    background-color: #1d1d1dcd;
    border: 2px solid white;
}

.ctrlbtnplyr {
    text-align: center;
    width: 90px;
    padding: 15px;
    padding-bottom: 20px;
    margin: 10px;
    margin-top: 30px;
    border-radius: 4px;
    position: absolute;
    z-index: 3;
    outline: none;
    color: white;
    border: none;
    background-color: blue;
    background-color: #1d1d1dcd;
    border: 2px solid white;
    display: none;
}

.rprtbtn {
    position: absolute;
    top: 88%;
    right: 0px;
    text-align: center;
    width: 125px;
    padding: 15px;
    padding-bottom: 20px;
    margin: 20px;
    border-radius: 4px;
    outline: none;
    color: white;
    border: none;
    cursor: pointer;
    background-color: blue;
    background-color: #1d1d1dcd;
    border: 2px solid white;
}

#report-select {
    position: absolute;
    top: 88%;
    right: 0px;
    text-align: center;
    width: 180px;
    padding: 15px;
    padding-bottom: 20px;
    margin: 20px;
    margin-right: 155px;
    border-radius: 4px;
    outline: none;
    color: white;
    border: none;
    cursor: pointer;
    background-color: blue;
    background-color: #1d1d1dcd;
    border: 2px solid white;
}

.rprtbtn, #report-select, .ctrlbtnplyr, .btndd1 {
    background-color: #0d0d0d90;
    font-family: 'MunroSmall', sans-serif;
    font-size: 25px;
    cursor: pointer;
}

.xyzimg {
    width: 20px;
    opacity: 0;
    cursor: default;
}

#resultreport {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    opacity: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.725);
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    transition: opacity 1s ease-in;
}

.typing {
    animation: typing 3s steps(30) 1s forwards;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


#author {
    margin-top: 60px;
    font-size: 10px;
}

.linkauthor {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.193); 
    font-size: 8px; 
    text-decoration: none;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
    text-align: center;
    background-color: #0d0d0d;
    z-index: 100;
    font-size: 30px;
}

@media (max-width: 600px) {
    .imgg {
        position: relative;
        width: 90%;
        border-radius: 4px;
        margin-top: 20px;
    }
    
    .ctrlbtnplyr {
        padding: 7px;
        width: 50px;
        margin: 10px;
    }
    
    #nmrimgn {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 20px;
        text-align: center;
        justify-content: center;
        color: rgb(255, 255, 255); 
        font-size: 30px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.725);
        text-decoration: none;
    }
    
    #ttlwb {
        font-size: 60px;
    }
    
    .btndd1 {
        text-align: center;
        width: 140px;
        padding: 10px;
        padding-bottom: 15px;
        margin: 10px;
        margin-top: 25px;
        border-radius: 4px;
        outline: none;
        color: white;
        border: none;
        background-color: rgb(0, 0, 0);
        background-color: #1d1d1dcd;
        border: 2px solid white;
    }

    #ctrl-player {
        display: block;
    }
    
    .ctrlbtnplyr {
        display: block;
        position: absolute;
        top: 40%;
        right: 0px;
        text-align: center;
        width: 125px;
        padding: 15px;
        padding-bottom: 20px;
        margin: 20px;
        border-radius: 4px;
        outline: none;
        color: white;
        border: none;
        cursor: pointer;
        background-color: blue;
        background-color: #1d1d1dcd;
        border: 2px solid white;
    }
    
    .rprtbtn {
        position: absolute;
        top: 40%;
        right: 0px;
        text-align: center;
        width: 125px;
        padding: 15px;
        padding-bottom: 20px;
        margin: 20px;
        border-radius: 4px;
        outline: none;
        color: white;
        border: none;
        cursor: pointer;
        background-color: blue;
        background-color: #1d1d1dcd;
        border: 2px solid white;
    }
    
    #report-select {
        position: absolute;
        top: 40%;
        right: 0px;
        text-align: center;
        width: 180px;
        padding: 15px;
        padding-bottom: 20px;
        margin: 20px;
        margin-right: 155px;
        border-radius: 4px;
        outline: none;
        color: white;
        border: none;
        cursor: pointer;
        background-color: blue;
        background-color: #1d1d1dcd;
        border: 2px solid white;
    }
    
    .rprtbtn, #report-select, .ctrlbtnplyr, .btndd1 {
        background-color: #0d0d0d90;
        font-family: 'MunroSmall', sans-serif;
        font-size: 25px;
        cursor: pointer;
    }
    
    .xyzimg {
        width: 20px;
        opacity: 0;
        cursor: default;
    }
    
    #resultreport {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 25px;
        opacity: 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.725);
        white-space: nowrap;
        overflow: hidden;
        width: 0;
        transition: opacity 1s ease-in;
    }
    
    
    #author {
        margin-top: 60px;
        font-size: 10px;
    }
    
    .linkauthor {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 20px;
        text-align: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.193); 
        font-size: 8px; 
        text-decoration: none;
    }
    
    #loading {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding-top: 100px;
        text-align: center;
        background-color: #0d0d0d;
        z-index: 100;
        font-size: 30px;
    }
}
